.vscode
__pycache__

FasterTraining/logs
FasterTraining/aclImdb
FasterTraining/aclImdb_v1.tar.gz

Chapter8-SentimentAnalysis/aclImdb
Chapter8-SentimentAnalysis/movie_data.csv
Chapter8-SentimentAnalysis/aclImdb_v1.tar.gz